*{
     margin: 0;
     padding: 0;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
     margin: 10px;
}
::-webkit-scrollbar{
     display: none;
}
/* logo starts here */
.header {
     height: 246px;
}

img {
     height: 200px;

}
.header,img{
     width: 100%;
}
/* logo ends here */
/* navbar starts here */
.navbar {
     text-align: center;
     float: right;
     margin-top: 10px;
     width: 100%;
     font-size: 30px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar ul {
     list-style: none;
     
     
}
.fa-caret-down{
     font-size: 15px;
     padding-left: 10px;
}
.navbar .list a{
     text-decoration: none;
     color: #34495e;
     display: block;
     border: 1px;
     border-radius: 5px;

}
.ewq{
     background-color: rgb(187, 204, 219);
}
.tyu li a{
     background-color: rgb(187, 204, 219,.5);
}
.navbar .list a:hover{
     background-color: red;
}
.navbar .list li{
     float: left;
     width: 20%;
}
.navbar .list li ul{
     position: absolute;
     z-index: 100;
     width: 100%;

}

.navbar .list li ul {
     display: none;
}
.navbar .list li:hover ul{
     display: block;
}

/* navbar ends here */





/* content starts here */

.content{
     width: 100%;
     height: 126rem;
}
.contentleft{
     font-size: xx-large;
     width: 70%;
     height: 120rem;
     float: left;
     /* margin: 10px; */
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 10px;
}
.contentleft .part1 #img1 {
     height: 280px;
     width: 100%;
}
.contentleft .part1 .qwe{
     width: 69%;
     position: absolute;
     top: 476px;
     background-color: rgb(61, 85, 109,.3)
}
.contentleft .part2{
     width: 100%;
}
.contentleft .part2 div{
     height: 300px;
     width: 100%;
     margin-bottom: 10px;
}
.t{
     background-color:#637c96;
}

.contentleft .part2 div .g{
     height: 280px;
     width: 70%;
     float: right;
     margin-top: 10px ;
     margin-bottom: 10px;
     margin-right: 10px;

}

.g{
     background-color: #ffffff;
}

.part2 .t .t9{
     float: left;
     width: 25%;
     text-align: center;
     height: 250px;
     padding-top: 50px;

}


.contentright{
     background-color: blue;
     margin-top: 10px;
     width: 29%;
     height: 120rem;
     float: right;
}
.img1{
     margin-top: 10px;
}
.u , .z1{
     margin-bottom: 10px;
     margin-left: 10px;
     margin-right: 10px;
}
.z1{
     background-color: #687b8f;
     height: 200px;
}
.he1{
     background-color: #34495e;
     color: white;
     text-align: center;
}
.z1 input{
     margin-top: 25px;
     margin-left: 26%;
     letter-spacing: 5px;
     border: none;
     
}

div footer {
     text-align: center;
}